/* 前台 Products.vue */
.products {
  padding-top: 66px;
}
.products-banner {
  @include banner('~@/assets/img/product_top.png', 228px);
  background-position: 50%;
}
.sidebar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, .6);
  left: 0;
  border-radius: 3px;
}
.sidebar ul li {
  padding: 10px 35px;
  cursor: pointer;
  transition: .3s;
  position: relative;
  color: #4f4f4f;
  font-weight: bolder;
  &::after {
    content: "";
    position: absolute;
    left: calc(50% - 20px);
    bottom: 15px;
    width: 60px;
    height: 8px;
    background-color: rgba(154, 149, 149, 0.6);
    opacity: 0;
  }
  &.active::after {
    opacity: 1;
  }
  &:hover::after {
    opacity: 1;
  }
}
@media(min-width: 852px) {
  .sidebar {
    top: 70%;
  }
  .sidebar ul li {
    padding: 15px 20px;
  }
}
@media(min-width: 1200px) {
  .sidebar ul li {
    padding: 15px 15px;
  }
}
.cart-icon {
  right: 0;
  color: #b2b2b2;
  &:hover {
    color: $sgreen;
  }
}
.thumbs-icon {
  right: 50px;
  color: #b2b2b2;
  &:hover {
    color: $sgreen;
  }
}
/* 前台 Product.vue */
.product {
  padding-top: 66px;
}
.product-banner {
  @include banner('~@/assets/img/product_top1.png', 228px);
  background-position: 50%;
  & .nav-breadcrumb {
    position: absolute;
    padding: 15px;
    bottom: 15%;
    left: 60px;
  }
}
.breadcrumb-item:nth-child(2) a {
  display: inline-block;
}
.breadcrumb-item a {
  color: $theme;
  font-weight: bolder;
  font-size: 20px;
  &:hover {
    color: $sgreen;
  }
}
.breadcrumb-item.active {
  color: #b2b2b2;
  font-weight: bolder;
  font-size: 20px;
}
.breadcrumb-item + .breadcrumb-item {
  font-size: 20px; // 斜線大小
}
.productPicture {
  position: relative;
  height: 80%;
  padding-bottom: 75%;
}
.productPicture img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -20%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
  border: 10px solid #fefefe;
  -webkit-transition: .3s;
  transition: .3s;
}

/* 後台 BackShopping.vue */
.back-category li {
  border-right: 2px solid $hgray;
  & a {
    color: $theme;
  }
  &:hover a {
    color: $sgreen;
  }
}
.back-category li:last-of-type {
  border: none;
}